
<% include partials/header %>

    <div class="container">

      <div class="jumbotron text-center">
        <h1>Asset Management Tool</h1>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <a href="/assets" class="thumbnail">
            <img src="images/assets.jpg" alt="...">
          </a>
          <div class="caption text-center">
            <h4>Assets</h4> 
          </div>
        </div>

        <div class="col-md-4">
          <a href="/users" class="thumbnail">
            <img src="images/users.jpg" alt="...">
          </a>
          <div class="caption text-center">
            <h4>Users</h4> 
          </div>
        </div>

        <div class="col-md-2"></div>
      </div>

    </div><!-- /.container -->

<% include partials/footer %>


   
