
<% include partials/header %>

    <div class="container">

      <div class="jumbotron text-center">
        <h1>Asset Management Tool</h1>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <a href="/assets" class="thumbnail">
            <img src="images/assets.jpg" alt="...">
            <div class="caption text-center">
              <h4>Assets</h4> 
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="/users" class="thumbnail">
            <img src="images/users.jpg" alt="...">
            <div class="caption text-center">
              <h4>Users</h4> 
            </div>
          </a>
        </div>

        <div class="col-md-2"></div>
      </div>

      <div class="row">
        <div class="col-md-4"></div>

          <div class="col-md-4">
            <a href="#" class="thumbnail">
              <img src="images/maintenance.jpg" alt="...">
              <div class="caption text-center">
                <h4>Asset Maintenance</h4> 
              </div>
            </a>
          </div>

        <div class="col-md-4"></div>
      </div>

    </div><!-- /.container -->

<% include partials/footer %>


   
