<% include ../partials/header %>

    <div class="container">
        <div class="jumbotron">   
        </div>
        <div class="row">
            <div class="col-md-2">  
                <a href="./assets/new" class="btn btn-success">Add New Asset</a>
            </div> 
            <div class="col-md-10">
                <table class="table table-hover">
                    <thead class="bg-success"> 
                        <th>Asset Name</th>
                        <th>Asset ID</th>
                        <th>Status</th>
                        <th>More Details</th>
                    </thead>
                <% assets.forEach(function(asset){ %>
                <tr>
                    <td><%= asset.name %></td>
                    <td><%= asset.asset_id %></td>
                    <td><%= asset.status %></td>
                    <td> <a href="/assets/<%= asset._id %>" class="btn btn-warning btn-xs"> Click Here</a></td>
                </tr>
                <% })%>
            </table>
            </div>           
        </div>
    </div>

<% include ../partials/footer %>